<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365632154489-lfc5u3hdglvrmvih48e2ncgj1haokead.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365632154489-lfc5u3hdglvrmvih48e2ncgj1haokead</string>
	<key>API_KEY</key>
	<string>AIzaSyApZizKhMDWD8jfQNvmAbOh3vydNIAuG9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>365632154489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cocoapods.database</string>
	<key>PROJECT_ID</key>
	<string>messaging-18f15</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-18f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365632154489:ios:06cae15454f0dc03</string>
	<key>DATABASE_URL</key>
	<string>https://messaging-18f15.firebaseio.com</string>
</dict>
</plist>